body {background-color:lightgray;
      font-family: Verdana;
}

h1   {color:SaddleBrown}
p    {color: DarkSlateBlue}


#header {
    border-radius: 5px 10px;
    background-color:gray;
    color:white;
    text-align:center;
    padding:5px;
    margin-bottom: 5px;
}
#nav {
    color: DarkSlateBlue;
    list-style-type:none;
    border-radius: 5px 10px;
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:160px;
    float:left;
    padding:5px; 
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
}
ul#nav li a {
    text-decoration: none;
    background-color:SaddleBrown;
    color: white;
    padding: 10px 20px;
}
table#nav tr td a {
    width: 100%; 
    text-decoration: none;
    background-color:SaddleBrown;
    color: white;
    padding: 10px 20px;
}
#section {
    width:350px;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

#plot {
    border-radius: 5px 10px;
}


