<!DOCTYPE html>
<html>

<head>
  <title>Wooded View Web</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/wvstyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script type="text/javascript">
    var waterTotal = 100;
    var response = "";
    function setPageWaterTotal(value) {
        document.getElementById('waterTotalField').innerHTML = value;
    }
    function getWaterTotal() {
        document.getElementById('waterTotalField').innerHTML = "----";
        var url = "http://10.0.0.33/JSON/water_use/total";
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                response = JSON.parse(xmlhttp.responseText);
                setPageWaterTotal(response.total_gallons);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }
  
  </script>
</head>

<body onload="document.getElementById('date').innerHTML = Date()">
<div id="header">
<h1>Wooded View Web<h1>
</div>

<div id="nav">
    <div>
        <table id="nav" style="height: 220px">
            <tr><th><p style="text-align:center">Links</p></th></tr>
            <tr><td><a class="nav" href="/about">About</a></td></tr>
            <tr><td><a class="nav" href="/welcome">Welcome</a></td></tr>
            <tr><td><a class="nav" href="/JSON/water_use/total">JSON Demo</a></td></tr>
         </table>
     </div>
</div>

<div id="section">
    <p>Features</p>
    <a href="/water_use/rate">Water Use Rate</a> <br>

    <a href="/water_use/cumulative">Water Use Cumulative</a> <br>
    <br>

    <img id="plot" src="/water_use/cumulative" alt="Cumulative Water Use" width="600" height="400"><br>

    <div id="section2">
        <p id="js_section">Javascript Functions</p>
        <p id="date"></br></p>
        <input type="button" value="Update Total Water Use" onclick="getWaterTotal()" />
        <p><span class="json" id="waterTotalField" style="border:1px solid SaddleBrown">---</br></span></p>
    </div>
</div>

</body>
</html>

