<!DOCTYPE html>
<html>

<head>
  <title>Wooded View Web</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/wvstyle.css">
</head>

<body>
<div id="header">
<h1>Wooded View Web<h1>
</div>

<div id="nav">
    About<br>
    Water<br>
    JSON Demo<br>
</div>

<div id="section">


<p>Features</p>

<a href="/water_use/rate">Water Use Rate</a> <br>

<a href="/water_use/cumulative">Water Use Cumulative</a> <br>

<br>

<img id="plot" src="/water_use/cumulative" alt="Cumulative Water Use" width="600" height="400"><br>

</div>

</body>
</html>

